<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>昭和横濱物語</title>

  <!-- https://fonts.google.com/ -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Share+Tech&display=swap" rel="stylesheet">

  <link href="demeter.css" rel="stylesheet">
  <link href="demeter-font.css" rel="stylesheet">

  <link href="manifest.webmanifest" rel="manifest">
  <link href="favicon.ico" rel="icon" sizes="any">
  <link href="favicon.svg" rel="icon" type="image/svg+xml">
  <link href="apple-touch-icon.png" rel="apple-touch-icon">

  <script defer src="demeter.js"></script>
  <script defer src="demeter-jlreq.js"></script>
</head>

<body>

<template>
$scenario
</template>

<script>
document.addEventListener("DOMContentLoaded", async () => {
  let start;

  const D = globalThis.demeter;
  await D.boot();

  start = performance.now();
  const result = await D.loadFontFaces(10000);
  console.log("loadFontFaces", performance.now() - start, result);

  const fontSize = 24;
  // const font = "'Showa Yokohama Story', 'Share Tech', 'BIZ UDPMincho'";
  const font = "'Showa Yokohama Story', 'BIZ UDPMincho'";
  const maxWidth = fontSize * 30;
  const lineHeight = fontSize * 2;

  const outputNode = document.body.appendChild(document.createElement("div"));
  outputNode.style.font = D.numberToCssPixels(fontSize) + " " + font;

  let elapsed = 0;

  const sourceNodes = document.querySelector("template").content.children;
  for (let i = 0; i < sourceNodes.length; ++i) {
    await D.requestAnimationFrame();
    start = performance.now();
    const paragraph = D.parseParagraph(sourceNodes[i], fontSize, font);
    const lines = paragraph.map(text => D.composeText(text, maxWidth)).flat();
    outputNode.append(D.layoutText(lines, fontSize, lineHeight));
    elapsed += performance.now() - start
  }

  console.log(elapsed);

});
</script>

</body>
</html>
