<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>昭和横濱物語</title>

  <!-- https://github.com/sindresorhus/github-markdown-css#usage -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@5.2.0/github-markdown-dark.css" integrity="sha256-sVwvm2LgPvs8KmgAtivJZES8stEW61Mz9Pt/ync4TCc=" crossorigin="anonymous">

  <link href="system/./danu.css" rel="stylesheet">

  <link href="system/./manifest.webmanifest" rel="manifest">
  <link href="system/./favicon.ico" rel="icon" sizes="any">
  <link href="system/./favicon.svg" rel="icon" type="image/svg+xml">
  <link href="system/./apple-touch-icon.png" rel="apple-touch-icon">
</head>

<body class="danu">
<div class="markdown-body">

<h1><span
  style="letter-spacing: -0.06em">昭</span><span
  style="letter-spacing: -0.02em">和</span><span
  style="letter-spacing: -0.03em">横</span><span
  style="letter-spacing: -0.05em">濱</span><span
  style="letter-spacing: -0.07em">物</span><span
  style="letter-spacing: 0">語</span></h1>

<p>
昭和七十四年七月、ボクはキミに出逢った。<br>
人類が滅亡するまでの、最期のひとつきの、これは物語だ。
</p>

<h2>ブラウザ版</h2>

<p>
<a target="_blank" rel="noopener noreferrer" href="game.html">『昭和横濱物語 Ver. $version』</a>をいますぐはじめよう！
</p>

<h2>アテンション・プリーズ。</h2>

<blockquote>
<p>
このフィクションは小説です。あらゆる物語はロマンスなので、登場する団体名、会社名、及び個人名と現実のそれらとは一切関係がないなどと誰に断ずる権利があるでしょう。
</p>
<footer>矢作俊彦『あ・じゃ・ぱん！』</footer>
</blockquote>

<!--
<ul>
  <li>音がでる。いっそ音がメイン。</li>
  <li>人工知性体にたよらず、人力カットアップと人力マルコフ連鎖でつくられたそれっぽい物語。</li>
</ul>

<p>
二〇二二年一月。『昭和米国物語』の予告編、『それが大事』にガツンとやられた。<br>
二〇二二年三月。『VOICEPEAK』が生成する声にガツンとやられた。<br>
二〇二二年、黄金週間。<br>
十分くらいで終わるミニゲームをつくろう。<br>
かっこつけてるけどすべってるセカイ系ノベルゲーをめざそう。<br>
そう、目論んだ。
</p>
-->

</div>
</body>
</html>
