@font-face {
  font-family: 'Yuji Syuku';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=BngNUXdTV3vO6Lw5ApOPqPLgxKiB0wpn6XQO3GpQwO6AwmFBXH9L38U&skey=9ffd14150d67040a&v=v5) format('woff2');
}
